---
title: Signup
template: home.jade
---
.section.intro
	h3.hero-heading Sign up.
	p.section-description Give me your video and audio files and I will make them better. I will also get them ready for upload or syndication. Turnaround within 48 hours of order.
	a.button.button-primary(href='mailto:drwicked@writeordie.com') Email Me
.section.get-help
	h3.hero-heading Upload your raw media files.
	p.section-description Easy media uploading with a custom-built, private file uploader backed by Amazon S3 so there's no need to have large files taking up space in your Dropbox or Google Drive<strong>*</strong>.
	.footnote <strong>*</strong> Sending me links to Dropbox or gDrive files is totes fine though.
.section.magic
	h3.section-heading Then the magic happens.
	p.section-description I will edit your files according to your instructions and make them as <strong>shiny</strong> as possible. I will consult with you on the edit and provide feedback. I can gladly consult on microphone placement and general technique.
.section.pricing
	h3.section-heading Pricing.
	p.section-description Based on the length of the source files and the amount of editing required. I will find a price that works for you.
	table#pricingTable.hidden
		th
			td 10 minutes
			td 30 minutes
			td 1 hour
			td 2 hours
		tr
			td Podcast
			td $20
			td $40
			td $80
			td $120
		tr
			td Video
			td $40
			td $60
			td $100
			td $200
.section.categories
	.row
		.one-half.column.category 
			h3.section-heading About Me
			p I'm Dr. Wicked, aka Jeff. I invent things whilst procrastinating. Write or Die, wordWar, EditMinion, all while avoiding writing. Turns out I'm better at editing.
		.one-half.column.category
			img(src="/images/aboutpic.png")
